

/* Experience Section */

.experience {
    background-color: var(--clr-dark);/*IF A IMAGE FAILS TO LOAD*/
    background-image: url(../img/pexels-phot01.jpeg);
    background-size: cover;/*COVER SO IT NEVER REPEATS INSELF*/
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
    overflow: hidden;/* keeps the image in the same location */    
}

.experience p{

    color: black;
    
}
.experience_item3 p{
    font-style: italic;
    font-size: medium;
}
.section__title--experience{

    color: var(--clr-light);
}

.section__title--item{

    color: var(--clr-dark);
}
.section__title--item3{

    color: var(--clr-dark);
    margin-bottom: -5%;
    font-size: x-large;
}

.section__title--experience::after {/* THE PSUDO element after will make a line appear after the section title */
    content: '';/* every psudo element needs to have content of it wont work*/
    display: block;
    width: 3em;
    height: 1px;
    margin: .5em auto 2em;
   /* background: var(--clr-light);*/
    background:var(--clr-light);/* current color will give you the color of the element that it did after*/
    
}
.experience-row {
    
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/ /* automatic sets 3 columnn,auto fits the pics*/
  grid-template-columns: auto auto auto;
  grid-column-gap:10px;
  max-width: 1200px;/* This will give the grid a max of 1300 incase the website is seen in big screens*/
  margin: 0 auto 1%  ;/* 1% TO avoid touching the botton 26% to center the row*/
  
  
}

.section__subtitle--experience {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}
/*------------------------Modified code --------------------------------*/


  .experience_item1 {
   
    cursor: pointer;
    
    margin: auto;
    
    
    
  }



  .experience_item1 .section__title--item{
      color: white;
      margin-bottom: -10%;
      
  }


  .experience_item3 {
    padding: 1rem;
    width: auto;
    height: auto;
    box-shadow: -1px 15px 30px -12px rgb(243, 241, 241);
    border-radius: 0.9rem;
    background-color: white;
    color: var(--text);
    cursor: pointer;
    margin: auto;
    margin-left: 10%;
    

    
    
  }

  
/* middle item*/

.experience_item2 {

   
    padding: 1rem; 
    
    height: auto;
    box-shadow: -1px 15px 30px -12px rgb(243, 241, 241);
    border-radius: 0.9rem;
    background-color: white;
    color: var(--text);
    cursor: pointer;
    z-index: 3;  
  }


.experience__img {
    width: auto;
    height: auto;
    margin: -50% auto -40% auto;
    padding: 10%;
}

.section__subtitle--experience{
    color: var(--clr-dark); 

}

.experience__img3{
    margin: -20% auto 5% auto;
    border-radius: 50%;
    
}
.experience__img1-1, .experience__img1-2, .experience__img1-3{
    padding: 5%;
    max-width:50%;
    margin-left: 50%;
    
}
.experience__img1-1:hover, 
.experience__img1-2:hover,
.experience__img1-3:hover,
.social-list-experience:hover{
    opacity: .5;
    transform: scale(1.2);
    
}



.section__title--item1{

    margin-left: 50%;
}

.item2-List{

    color:black;
    text-align: left;
    font-size: 20px;
    
   
}

@media screen {

    .experience-row{

        width: auto;
    }
    .experience_item2{

        width: calc( 100% + 1em);
        margin: auto;
    }
    
   
      
    
}

@media(max-width:850px) {
   
    
    .experience_item1{

        display: none;
    }
    .experience_item3{
        display:none;       
    }
   
    .experience_item2 ul{

        font-size: small;
        text-align: left;
    }
        
    
}



  
