.grid {
	width: 300px;
	height: 300px;
	border: solid black 1px;
	display: flex;
	flex-wrap: wrap;
        background-image: url("bg4_1.png")
}

.grid div {
	width: 20px;
	height: 20px;
}

.invader {
	background-image: url("shrek.png")
	
        
}

.shooter {
	
        background-image: url("yoshio_1.gif")
}


.laser {
	background-image: url("turtleShell.png")
}

.boom {
	background-image: url("explosion.png")
}


.btn-item {
   display:inline-block;
    padding: .5em 2.5em;
    background: darkcyan;
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;/* always captilize*/
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;

    
}

.btn-item:hover {
    transform: scale(1.1);/*This will make the button bigger when hovered*/
}

.intro-icon-div{
   margin-top: 20px;

}
.intro-icon{
    font-size: 44px;
    color: #000;

}

.intro-icon:hover{
    opacity:.6;
    transform: scale(1.2);

}